---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import BlogPostContent from "../components/BlogPostContent.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout
	title={title + " (dubis.dev)"}
	description={description}
	showStars={false}
>
	<main>
		<BlogPostContent
			title={title}
			description={description}
			pubDate={pubDate}
			updatedDate={updatedDate}
			heroImage={heroImage}
		>
			<slot />
		</BlogPostContent>
	</main>
</BaseLayout>

<style>
	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}
</style>
